*{
margin:0;
padding:0;
text-align: center;
}
table{
	margin:0;
	margin-bottom: 90px;
}
table td{
	width:210px;
}
div{
	font-weight: bold;
	padding:5px;
	border:2px solid black;
	
	display: inline-block;

}
#biografija{
	width:500px;
}
#logout{

	text-align: left;
	padding-top:15px;
	padding-left:25px;
	
}
a{
	text-decoration: none;
	color:black;
}
.izvjestaji{
	text-align: center;
	padding:20px;
}
div{
	text-align: center;
	padding:10px;
}
table{
text-align: center;
}

#rep{
	margin:0 auto;

}
#naslov{
	padding-top:30px;
}